@model IEnumerable<projectMVC_game.Models.klient>

@{
    ViewBag.Title = "lista wszystkich klientow";
}

<h2>lista wszystkich klientow</h2>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr class="w3-red">
        <th>
            @Html.DisplayNameFor(model => model.imie)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nazwisko)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pesel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.adres.miasto)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.imie)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nazwisko)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pesel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.adres.miasto)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id_klient }) |
            @Html.ActionLink("Details", "Details", new { id=item.id_klient }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id_klient })
        </td>
    </tr>
}

</table>
